
  button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  h1 {
    font-size: 30px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 1s;
  }
  .center {
    text-align: center;
  }
  
  img{
    width: 800px;
    height: 800px;
  }
  body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
